@model IEnumerable<BlackStone_Expenses.Models.Expens>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add new Expenses", "Create")
</p>
<br />
<form method="post">
    
        <label for="Month" class="col-form-label">Month</label>
        @Html.DropDownList("Month", new List<SelectListItem>() {
new SelectListItem { Text = "Select", Value = "0"},
new SelectListItem { Text = "January", Value = "January" },
new SelectListItem { Text = "Feburary", Value = "Feburary" },
new SelectListItem { Text = "March", Value = "March" },
new SelectListItem { Text = "April", Value = "April" },
new SelectListItem { Text = "May", Value = "May" },
new SelectListItem { Text = "June", Value = "June" },
new SelectListItem { Text = "July", Value = "July" },
new SelectListItem { Text = "August", Value = "August" },
new SelectListItem { Text = "September", Value = "September" },
new SelectListItem { Text = "October", Value = "October" },
new SelectListItem { Text = "November", Value = "November" },
new SelectListItem { Text = "December", Value = "December" },
}, htmlAttributes: new { @class = "col-5" })


    <label for="Year" class="col-form-label">Year</label>
    <input type="text" class="" placeholder="Year" name="Year" value="null" id="Year" />
        <input class="btn" type="submit" value="Search" />

</form>
<br />
<form method="post">
    <label for="Amount" class="col-form-label">Amount</label>
    <input type="text" class="" placeholder="Amount" name="Amount" id="Year" />
        <input class="btn" type="submit" value="Search" />
</form>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
